@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
}

.linear-mask {
  mask-image: linear-gradient(to bottom, white, transparent);
}
.linear-shadow {
  box-shadow: 0 0 0 1px rgba(0,0,0,.03), 0 2px 4px rgba(0,0,0,.05), 0 12px 24px rgba(0,0,0,.05);
}
